body {
  background-image: url("../images/black3.jpeg");
  background-repeat: repeat;
  background-size: 100%;
}

.title {
  position: absolute;
  margin-left: 33%;
  margin-top: 20%;
  width: 80%;
  height: 50%;
  cursor: default;
  display: block;
  color: rgb(0, 0, 0);
  font-family: "Courier";
  font-size: 50px;
  color: rgb(0, 0, 0);
  white-space: nowrap;
  overflow: hidden;
  width: 30em;
  animation: type 4s steps(60, end); 
}

@keyframes type{ 
  from { width: 0; } 
}

.paper-logo {
  position: absolute;
  margin-left: 43%;
  margin-top: 5%;
  width: 200px;
  cursor: default;
  display: block;
}

.topnav {
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.317);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.441);
  filter: drop-shadow(1px 1px 1px);
}

.topnav a {
  float: left;
  color: #f2f2f2;
  padding: 25px 20px;
  text-decoration: none;
  font-size: 18px;
  font-family: 'Special Elite', cursive;
}

.topnav a:hover {
  background-color: rgb(91, 91, 91);
  color: black;
}

.text a {
  font-family: 'Special Elite', cursive;
  float: right;
  color: #cf9c71;
  font-size: 18px;
  font-style: italic;
}

.text a:hover {
  background-color: rgba(0, 0, 0, 0.317);
  color: #f2f2f2;
  cursor: default;
}

.topnav2 {
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.317);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.441);
  filter: drop-shadow(1px 1px 1px);
}

.topnav2 a {
  float: right;
  color: #f2f2f2;
  padding: 25px 20px;
  text-decoration: none;
  font-size: 18px;
  font-family: 'Special Elite', cursive;
}

.topnav2 a:hover {
  background-color: rgb(91, 91, 91);
  color: black;
}

.text2 a {
  font-family: 'Special Elite', cursive;
  float: left;
  color: rgba(255, 255, 255, 0.217);
  font-size: 18px;
}

.text2 a:hover {
  background-color: rgba(0, 0, 0, 0.317);
  color: rgba(255, 255, 255, 0.217);
  cursor: default;
}

.logo {
  position: absolute;
  margin-left: 4.5%;
  margin-top: 3%;
  width: 200px;
}

.logo2 {
  position: absolute;
  margin-left: 78%;
  margin-top: 3%;
  width: 200px;
}

.discover {
  position: absolute;
  margin-top: 237%;
  margin-left: 38.5%;
}

.discover:hover {
  filter: drop-shadow(9px 10px 5px rgba(0, 0, 0, 0.339));
}

.container2 {
  background-color: #B1AB91;
}

.rec3 {
  margin-left: 50%;
}

.column {
  float: left;
  width: 25%;
}