body {
  background-image: url("../images/black3.jpeg");
  background-repeat: repeat;
  background-size: 100%;
}

.paper-content {
  margin: 0 auto;
  width: 100%;
  height: 50%;
}

.title {
  position: absolute;
  margin-left: 33%;
  margin-top: 20%;
  cursor: default;
  display: block;
  color: rgb(0, 0, 0);
  font-family: "Courier";
  font-size: 2vw;
  text-size-adjust: auto;
  color: rgb(0, 0, 0);
  white-space: nowrap;
  overflow: hidden;
  width: 30em;
  animation: type 4s steps(60, end); 
}

@keyframes type{ 
  from { width: 0; } 
}

.selling-point1 {
  position: absolute;
  margin-left: 33%;
  margin-top: 40%;
  cursor: default;
  display: block;
  color: rgb(0, 0, 0);
  font-family: "Courier";
  font-size: 1.5vw;
  text-size-adjust: auto;
  color: rgb(0, 0, 0);
  width: 21em;
}

.selling-point2 {
  position: absolute;
  margin-left: 33%;
  margin-top: 50%;
  cursor: default;
  display: block;
  color: rgb(0, 0, 0);
  font-family: "Courier";
  font-size: 1.5vw;
  text-size-adjust: auto;
  color: rgb(0, 0, 0);
  width: 21em;
}

.selling-point3 {
  position: absolute;
  margin-left: 33%;
  margin-top: 60%;
  cursor: default;
  display: block;
  color: rgb(0, 0, 0);
  font-family: "Courier";
  font-size: 1.5vw;
  text-size-adjust: auto;
  color: rgb(0, 0, 0);
  width: 21em;
}

.selling-point4 {
  position: absolute;
  margin-left: 33%;
  margin-top: 70%;
  cursor: default;
  display: block;
  color: rgb(0, 0, 0);
  font-family: "Courier";
  font-size: 1.5vw;
  text-size-adjust: auto;
  color: rgb(0, 0, 0);
  width: 21em;
}

.selling-point5 {
  position: absolute;
  margin-left: 33%;
  margin-top: 80%;
  cursor: default;
  display: block;
  color: rgb(0, 0, 0);
  font-family: "Courier";
  font-size: 1.5vw;
  text-size-adjust: auto;
  color: rgb(0, 0, 0);
  width: 21em;
}

.paper-logo {
  position: absolute;
  margin-left: 42%;
  margin-top: 5%;
  width: 9vw;
  cursor: default;
  display: block;
}

.discover {
  position: absolute;
  margin-left: 42%;
  margin-top: 95%;
  width: 9vw;
  cursor: default;
  display: block;
}

.discover:hover {
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.150));
}

.topnav {
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.317);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.441);
  filter: drop-shadow(1px 1px 1px);
}

.topnav a {
  float: left;
  color: #f2f2f2;
  padding: 25px 20px;
  text-decoration: none;
  font-size: 18px;
  font-family: 'Special Elite', cursive;
}

.topnav a:hover {
  background-color: rgb(91, 91, 91);
  color: black;
}

.text a {
  font-family: 'Special Elite', cursive;
  float: right;
  color: #cf9c71;
  font-size: 18px;
  font-style: italic;
}

.text a:hover {
  background-color: rgba(0, 0, 0, 0.317);
  color: #f2f2f2;
  cursor: default;
}

.topnav2 {
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.317);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.441);
  filter: drop-shadow(1px 1px 1px);
}

.topnav2 a {
  float: right;
  color: #f2f2f2;
  padding: 25px 20px;
  text-decoration: none;
  font-size: 18px;
  font-family: 'Special Elite', cursive;
}

.topnav2 a:hover {
  background-color: rgb(91, 91, 91);
  color: black;
}

.text2 a {
  font-family: 'Special Elite', cursive;
  float: left;
  color: rgba(255, 255, 255, 0.217);
  font-size: 18px;
}

.text2 a:hover {
  background-color: rgba(0, 0, 0, 0.317);
  color: rgba(255, 255, 255, 0.217);
  cursor: default;
}

.logo {
  position: absolute;
  margin-left: 4.5%;
  margin-top: 3%;
  width: 200px;
}

.logo2 {
  position: absolute;
  margin-left: 78%;
  margin-top: 3%;
  width: 200px;
}

.container2 {
  background-color: #B1AB91;
}

.rec3 {
  margin-left: 50%;
}

.column {
  float: left;
  width: 25%;
}